:root {
    --clr-light: #fff;
    --clr-dark: #ff6057;
    --fw-reg: 400;
    --fw-bold: 700;
    font-family: "Poppins", sans-serif;
  }
  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 20px 20px;
  }
  .menu {
    justify-content: space-around;
    color: var(--clr-light);
  }
  .element {
    width: 20px;
    padding: 20px;
  }
  .one {
    background-image: url("img/Sans\ titre-1-mdpi.png");
    background-position: top left;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .intro {
    display: flex;
    flex-basis: auto;
    color: var(--clr-light);
  }
  .intro-section {
    margin-left: 200px;
  }
  .intro h1 {
    font-size: 40px;
  }
  .intro h3 {
    font-weight: 200;
  }
  .btn {
    width: 179px;
    height: 46;
    background: linear-gradient(to right, #ff6057, #990099);
    padding: 10px;
    border-radius: 8px;
    border: none;
    color: white;
    letter-spacing: 2px;
    font-weight: bolder;
  }
  .accent {
    background: white;
    color: var(--clr-dark);
  }
  .intro-section {
    margin-left: 200px;
    max-width: 400px;
  }
  
  .intro-img {
    /* background-image: url("img/img1.png"); */
    height: auto;
  }
  
  .intro-img img {
    width: 100%;
  }
  
  .intro-end {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-bottom: 50px;
  }
  
  .solution::before {
    content: "";
    width: 120px;
    height: 12px;
    display: inline-block;
    background: var(--clr-dark);
    margin: 4px 10px;
  }
  
  .solution {
    margin-left: 200px;
  }
  .solution h1 {
    font-weight: 700;
    font-size: 30px;
    color: black;
  }
  .icon h3 {
    display: block;
  }
  .icon {
    display: flex;
    flex-direction: column;
  }
  .icon h3::after {
    content: "";
    width: 50px;
    height: 12px;
    display: inline-block;
    background: var(--clr-dark);
    margin: 4px 10px;
  }
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .container {
    display: flex;
  }
  
  .icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .link {
    color: var(--clr-dark);
  }
  .dot {
    height: 70px;
    width: 70px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 0px 10px 0px #888888;
  }
  .centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .aqua {
    background-color: #36c5ad;
  }
  .violet {
    background-color: #cb4bf8;
  }
  .green {
    background-color: #56e65b;
  }
  