:root {
  --clr-light: #fff;
  --clr-dark: #ff6057;
  --fw-reg: 400;
  --fw-bold: 700;
  font-family: 'Poppins', sans-serif;
}
.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin: 20px 20px;
}
.menu {
  justify-content: space-around;
  color: var(--clr-light);
}
.element {
  width: 20px;
  padding: 20px;
}
.one {
  background-image: url('img/Sans\ titre-1-mdpi.png');
  background-position: top left;
  background-size: 100%;
  background-repeat: no-repeat;
}

.intro {
  display: flex;
  color: var(--clr-light);
  width: 300px;

  flex-basis: auto;
}
.intro-section {
  margin-left: 200px;
}
.intro h1 {
  font-size: 40px;
}
.intro h3 {
  font-weight: 200;
}
.btn {
  width: 179px;
  height: 46;

  background: linear-gradient(to right, #ff6057, #990099);
  padding: 10px;
  border-radius: 8px;
  border: none;
  color: white;
  letter-spacing: 2px;
  font-weight: bolder;
}
.accent {
  background: white;
  color: var(--clr-dark);
}
.intro-section {
  margin-left: 200px;
  width: 800px;
  min-width: 400px;
}

.intro img {
  width: 600px;
}

.intro-end {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-bottom: 50px;
}
.solution p {
  color: #888888;
}
.solution::before,
.solution-three::before {
  content: '';
  width: 80px;
  height: 6px;
  display: inline-block;
  background: var(--clr-dark);
  margin: 4px 10px;
  border-radius: 25px;
}

.section-two {
  margin-left: 200px;
  margin-right: 200px;
}

.solution {
  margin-left: 200px;
  margin-top: 100px;
}
.solution h1 {
  font-weight: 700;
  font-size: 30px;
  color: black;
}
/* .icon{
  width:100px;
} */
.icon h3 {
  display: flex;
  flex-direction: column;
}

.icon p {
  color: #888888;
}
.icon {
  display: flex;
  flex-direction: column;
}
.icon h3::after {
  content: '';
  width: 60px;
  height: 4px;
  display: inline-block;
  background: var(--clr-dark);
  margin: 10px 10px;
  border-radius: 25px;
}
.arrow {
  margin-left: 2px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.container {
  display: flex;
  gap: 4rem;
}

.icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 200px;
}
.link {
  color: var(--clr-dark);
}
.dot {
  height: 70px;
  width: 70px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 0px 10px 0px #888888;
}
.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aqua {
  background-color: #36c5ad;
}
.violet {
  background-color: #cb4bf8;
}
.green {
  background-color: #56e65b;
}
.footer-img {
  width: 800px;
  height: auto;

  background-position: -30% 0%;
  position: absolute;
  left: -200px;
  top: 600px;
  right: 200px;
  z-index: -1;
}
.container-three {
  display: flex;
  justify-content: space-around;
}
.img-three img {
  width: 600px;
}

.solution-three {
  margin-right: 100px;
  margin-top: 100px;
}
.solution-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.solution-four p {
  color: #888888;
  max-width: 70ch;
}
.solution-four h3 {
  color: #7b7b7b;
}
.solution-four h1 {
  font-size: 40px;
}
