* {
  box-sizing: border-box;
}
:root {
  --clr-light: #fff;
  --clr-dark: #ff6057;
  --fw-reg: 400;
  --fw-bold: 700;
  font-family: 'Poppins', sans-serif;
}
html {
  overflow-x: hidden;
}
body {
  display: block;
  margin: 0;
}
p {
  color: #888888;
}

/*header*/

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin: 0 20px 20px 20px;
}
.menu {
  justify-content: space-around;
  color: var(--clr-light);
}
.element {
  width: 20px;
  padding: 20px;
}
.one {
  background-image: url('img/Sans\ titre-1-mdpi.png');
  background-position: top left;
  background-size: 100%;
  background-repeat: no-repeat;
}

.intro {
  display: flex;
  color: var(--clr-light);
  width: 300px;

  flex-basis: auto;
}
.intro-section {
  margin-left: 200px;
}
.intro h1 {
  font-size: 40px;
}
.intro h3 {
  font-weight: 200;
}
.intro p {
  color: white;
}
.btn {
  width: 179px;
  height: 46;

  background: linear-gradient(to right, #ff6057, #990099);
  padding: 10px;
  border-radius: 8px;
  border: none;
  color: white;
  letter-spacing: 2px;
  font-weight: bolder;
}
.accent {
  background: white;
  color: var(--clr-dark);
}
.intro-section {
  margin-left: 200px;
  width: 800px;
  min-width: 400px;
}

.intro img {
  width: 600px;
}

.intro-end {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-bottom: 50px;
}

@media (min-width: 600px) {
  header .head{
    display: flex;
    flex-direction: column;
   
  }

}
@media screen {
  
}

/*section two solution*/

.solution p {
  color: #888888;
}
.solution::before,
.solution-three::before,
.solution-five::before {
  content: '';
  width: 80px;
  height: 6px;
  display: inline-block;
  background: var(--clr-dark);
  margin: 4px 10px;
  border-radius: 25px;
}

.section-two {
  margin-left: 200px;
  margin-right: 200px;
}

.solution {
  margin-left: 200px;
  margin-top: 100px;
}
.solution h1 {
  color: black;
}
/* .icon{
  width:100px;
} */
.icon h3 {
  display: flex;
  flex-direction: column;
}

.icon p {
  color: #888888;
}
.icon {
  display: flex;
  flex-direction: column;
}
.icon h3::after {
  content: '';
  width: 60px;
  height: 4px;
  display: inline-block;
  background: var(--clr-dark);
  margin: 10px 10px;
  border-radius: 25px;
}
.arrow {
  margin-left: 2px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.container {
  display: flex;
  gap: 4rem;
}

.icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 200px;
}
.link {
  color: var(--clr-dark);
}
.dot {
  height: 70px;
  width: 70px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 0px 10px 0px #888888;
}
.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aqua {
  background-color: #36c5ad;
}
.violet {
  background-color: #cb4bf8;
}
.green {
  background-color: #56e65b;
}
.footer-img {
  width: 800px;
  height: auto;

  background-position: -30% 0%;
  position: absolute;
  left: -200px;
  top: 600px;
  right: 200px;
  z-index: -1;
}

/*section three*/

.container-three {
  display: flex;
  justify-content: space-around;
}
.img-three img {
  width: 600px;
}

.solution-three {
  margin-right: 100px;
  margin-top: 100px;
}

/*section four*/

.solution-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.solution-four p {
  color: #888888;
  max-width: 70ch;
}
.solution-four h3 {
  color: #7b7b7b;
}
.solution-four h1 {
  font-size: 40px;
  margin: 0;
}
.img-four {
  width: 1122;
}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot-two {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot-two:hover {
  background-color: var(--clr-dark);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*section five*/
.container-five {
  margin-top: 100px;
  justify-content: flex-end;
}
.solution-five {
  margin-left: 200px;
  flex-basis: 35%;
}
.img-five {
  margin-right: 60px;

  flex-basis: 65%;
}
.img-five img {
  width: 500px;
}
.img-section {
  position: relative;
}
.fifth-img {
  width: 800px;

  top: -100px;
  position: absolute;
  right: -200px;

  z-index: -1;
  flex-basis: 60%;
}
.coral {
  background-color: var(--clr-dark);
}

/*section six*/

.special-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dot-sixth {
  width: 40px;
  height: 40px;
  box-shadow: none;
}

.line::before {
  content: ' ';
  width: 4px;
  height: 90px;
  display: inline-block;
  background: #888888;
  margin: 4px 10px;
  border-radius: 25px;
  position: absolute;
  left: -110px;
  top: 60px;
}
.line {
  position: relative;
}
.container-6 {
  margin-left: 200px;
  margin-top: 200px;
}
.text-sixth {
  margin-right: 20px;
}

/*seventh section*/

.seventh {
  text-align: center;
  width: 200px;
  margin-left: 550px;
  font-size: 20px;
}
.special-container-list {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.container-seventh {
  margin-top: 50px;
  justify-content: center;
  text-align: center;
}
.container-seventh h2 {
  color: var(--clr-dark);
}

.container-7 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  gap: 4rem;
}

.card {
  display: flex;
  width: 400px;

  box-shadow: 0px 0px 10px 0px #888888;
}
.left-part {
  width: 400px;
}
.text-seventh {
  margin-left: 2px;
}
.img-seventh img {
  margin-top: 20px;
  margin-left: 2px;
  object-fit: contain;
}
.dot-2 {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.coral {
  background-color: var(--clr-dark);
}

.dot-container-2 {
  text-align: center;
}
.right-part {
  width: 400px;
}

/*footer*/

footer {
  background-color: #333333;
}
.footer {
  color: white;
  font-weight: none;
  font-size: 10px;
  width: 400px;
  margin-left: 250px;
}
.footer h1 {
  font-size: 20px;
}
.footer-text {
  color: white;
  font-weight: none;
  font-size: 10px;
}
.footer-title {
  margin-top: 30px;
}
.mail {
  width: 280px;
  border-radius: 20px;
  padding: 8px;
}

.footer-email {
  position: relative;
}
.footer-btn {
  position: absolute;
  background-color: var(--clr-dark);
  color: white;
  width: 100px;
  border-radius: 20px;
  left: 178px;
  border: none;
  bottom: 1px;
  padding: 9px;
}
